{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}


<div class="container-fluid my-4 ">
    
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active mx-100">
      <img src="/static/cp1.jfif" class="d-block w-100" width="100" height="600" alt="carpool">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


<div class="container my-4">
<h1 class="my-2 text-center">Let's Car Pool</h1> 
</div>

<div class="center">
  <main class="form-signin">
    <center>
    <form method="POST" action=""> 
    {% csrf_token %}
      
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="username">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
        <a href="/register_user"> new user</a>
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; </p>
    </form>
    </center>
  </main>
  </div>



{% endblock body %}