<!DOCTYPE html>  
{% extends 'base2.html' %}

<html lang="en">  
<head>  
<meta charset="UTF-8">  

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  </head>
  <body>


{% load static %}  
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
 
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</head> 
<body>
<div class="container">
 <div class="row">
   
 </div>
</div>
<script>
$(document).ready(function() {
    $('#bootstrapdatatable').DataTable({     
      "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
        "iDisplayLength": 3
       } 
    );
} );
</script>
</body> 
</html>
{% block title %}offer or share {% endblock title %}


{% block body %}


{% block content %}
 <div class="col-md-12">
          
        <div class="table-responsive">
  <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th><input type="checkbox" id="checkall" /></th>
                <th>ID</th>
                <th>Name</th>
                <th>source</th>
                <th>Destination</th>
                <th>car</th>
                <th>contact</th>
    


             </thead>
   <tbody>
   {% for ride in rides %}  
   {% csrf_token %}
    <tr>  
     <td><input type="checkbox" class="checkthis" /></td>
     <td>{{ ride.id }}</td>  
     <td>{{ ride.name }}</td>  
     <td>{{ ride.source }}</td>  
     <td>{{ ride.destination }}</td>
     <td>{{ ride.car }}</td>
     <td>{{ ride.contact }}</td>  
    </tr>  
   {% endfor %} 
   </tbody>
         
  </table>
        </div>
    </div>
{% endblock content %}

{% endblock body %}
